<section class="container-fluid">

    <section class="row">

        <div class="col-3">
            <h3>Pokedex</h3>
            <div id="pokedex-list" class="border border-dark rounded p-3">
                <p class="border-bottom border-dark"><i class=" mdi mdi-pokeball"></i> Pokemon Name</p>

            </div>
        </div>
        <div id="active-pokemon" class="col-6">
            <!-- <div class="sticky-top">
                <div class="row">
                    <h3>Pokemon Name</h3>
                </div>
                <div class="row">
                    <img src="https://pokeapi.co/api/v2/pokemon-form/9/" alt="IMG">
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Height: 4'03" | Weight: 98 lbs</p>
                    </div>
                    <div class="col-6">
                        <p>Types: Water | Poison</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button class="btn btn-rounded btn-success">Catch</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-3">
            <h3>My Pokemon</h3>
        </div>

    </section>


</section>